{
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
