series
docs
ai
.initialized
.DS_Store
shit*
x
build/bin
node_modules
frontend/dist

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work
go.work.sum

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

.env
