.pagination {
  display: flex;
  gap: var(--mantine-spacing-xs);
}

.pagination button {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border: 1px solid var(--mantine-grey-7);
  background-color: var(--mantine-primary-color);
  cursor: pointer;
  border-radius: var(--mantine-radius-sm);
}

.pagination button:hover:not(:disabled) {
  background-color: var(--mantine-color-dark-5);
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination button.active {
  font-weight: bold;
}
