/*
output: app/api_[[route]].go
scope: type
*/

{{- $class := .Class -}}
{{- $lower := toLower $class -}}
// Copyright 2016, 2026 The Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */

package app

import (
	"github.com/TrueBlocks/trueblocks-explorer/pkg/types"
	"github.com/TrueBlocks/trueblocks-explorer/pkg/types/{{$lower}}"

	//
	{{- if .HasCrudActions}}
	"github.com/TrueBlocks/trueblocks-chifra/v6/pkg/crud"
	{{- end}}
	sdk "github.com/TrueBlocks/trueblocks-sdk/v6"
    // EXISTING_CODE
    // EXISTING_CODE
)

func (a *App) Get{{$class}}Page(
	payload *types.Payload,
	first, pageSize int,
	sort sdk.SortSpec,
	filter string,
) (*{{$lower}}.{{$class}}Page, error) {
	collection := {{$lower}}.Get{{$class}}Collection(payload{{if .HasDynamicFacets}}, a.Projects{{end}})
	ret, err := getCollectionPage[*{{$lower}}.{{$class}}Page](collection, payload, first, pageSize, sort, filter)
	// EXISTING_CODE
	// EXISTING_CODE
	return ret, err
}

{{if .HasCrudActions}}func (a *App) {{$class}}Crud(
	payload *types.Payload,
	op crud.Operation,
	item *any,
) error {
	collection := {{$lower}}.Get{{$class}}Collection(payload{{if .HasDynamicFacets}}, a.Projects{{end}})
	return collection.Crud(payload, op, item)
}{{end}}

func (a *App) Get{{$class}}Summary(payload *types.Payload) types.Summary {
	collection := {{$lower}}.Get{{$class}}Collection(payload{{if .HasDynamicFacets}}, a.Projects{{end}})
	return collection.GetSummary(payload)
}

func (a *App) Reload{{$class}}(payload *types.Payload) error {
	collection := {{$lower}}.Get{{$class}}Collection(payload{{if .HasDynamicFacets}}, a.Projects{{end}})
	collection.Reset(payload)
	collection.FetchByFacet(payload)
	return nil
}

// Get{{$class}}Config returns the view configuration for {{$lower}}
func (a *App) Get{{$class}}Config(payload types.Payload) (*types.ViewConfig, error) {
	collection := {{$lower}}.Get{{$class}}Collection(&payload{{if .HasDynamicFacets}}, a.Projects{{end}})
	return collection.GetConfig()
}

// Get{{$class}}Buckets returns bucket visualization data for {{$lower}}
func (a *App) Get{{$class}}Buckets(payload *types.Payload) (*types.Buckets, error) {
	collection := {{$lower}}.Get{{$class}}Collection(payload{{if .HasDynamicFacets}}, a.Projects{{end}})
	return collection.GetBuckets(payload)
}

// EXISTING_CODE
// EXISTING_CODE
