/*
output: frontend/src/assets/help/[[route]].md
scope: type
*/

<!--
Copyright 2016, 2026 The Authors. All rights reserved.
Use of this source code is governed by a license that can
be found in the LICENSE file.

Parts of this file were auto generated. Edit only those parts of
the code inside of 'EXISTING_CODE' tags.
-->
# {{.Class}} View

Welcome to the **{{.Class}}** view! This section provides information about managing {{toLower .Class}} in your application.

## Facets
{{range .Facets}}
- {{.Name}} Facet uses the {{.StoreName}} store.
{{- end}}

## Stores
{{range .Stores}}
- **{{.Name}} Store ({{.NMembers}} members)**
{{range .Members}}
  - {{.Name}}: {{.Description}}
{{- end}}
{{end}}
// EXISTING_CODE
// EXISTING_CODE