/*
output: pkg/types/[[route]]/config.go
scope: type
*/

{{- $class := .Class -}}
{{- $lower := toLower $class -}}
// Copyright 2016, 2026 The Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */

package {{$lower}}

import "github.com/TrueBlocks/trueblocks-explorer/pkg/types"

// GetConfig returns the ViewConfig for the {{$class}} view
func (c *{{$class}}Collection) GetConfig() (*types.ViewConfig, error) {
	facets := c.buildStaticFacets()
	facetOrder := c.buildFacetOrder()
	
	{{- if .HasDynamicFacets }}
	c.addDynamicFacets(facets, &facetOrder)
	{{- end }}

	cfg := &types.ViewConfig{
		ViewName:   "{{$lower}}",
		Facets:     facets,
		FacetOrder: facetOrder,
		Actions:    c.buildActions(),
	}

	types.DeriveFacets(cfg)
	types.SortFields(cfg)
	types.SetMenuOrder(cfg)
	return cfg, nil
}

func (c *{{$class}}Collection) buildStaticFacets() map[string]types.FacetConfig {
	return map[string]types.FacetConfig{
		{{- range .Facets}}
		{{- if not .IsDynamic}}
		{{- $rowActionsBe := .RowActionsBe .Name -}}
		{{- $headerActionsBe := .HeaderActionsBe .Name}}
		"{{toLower .Name}}": {
			Name:          "{{toHeader .DisplayName}}",
			Store:         "{{toLower .StoreName}}",
			ViewType:      "{{.ViewType}}",
			{{- if .Panel }}
			Panel: "{{.Panel}}",
			{{- end}}
			DividerBefore: {{contains .Attributes "dividerBefore"}},
			Fields:        get{{toProper .StoreName}}Fields(),
			Actions:       []string{ {{$rowActionsBe}} },
			HeaderActions: []string{ {{$headerActionsBe}} },
			{{- if .PanelChart }}
			PanelChartConfig: get{{.Name}}PanelConfig(),
			{{- end}}
			{{- if .FacetChart }}
			FacetChartConfig: get{{.Name}}FacetConfig(),
			{{- end}}
			{{- if .NavigateTo }}
			RowAction: {{.NavigateTo}},
			{{- end}}
			{{- if .Hideable }}
			CanClose: true,
			{{- end}}
		},
		{{- end}}
		{{- end}}
	}
}

func (c *{{$class}}Collection) buildFacetOrder() []string {
	return []string{
		{{- range .Facets}}
		{{- if not .IsDynamic}}
		"{{toLower .Name}}",
		{{- end}}
		{{- end}}
	}
}

func (c *{{$class}}Collection) buildActions() map[string]types.ActionConfig {
	return map[string]types.ActionConfig{
		{{- range .AllActions }}
		{{.}}
		{{- end }}
	}
}

{{if .HasDynamicFacets -}}
func (c *{{$class}}Collection) addDynamicFacets(facets map[string]types.FacetConfig, facetOrder *[]string) {
	if c.{{$lower}}Manager == nil {
		return
	}
	
	for _, id := range c.{{$lower}}Manager.GetOpenIDs() {
		if item, exists := c.{{$lower}}Manager.GetItemByID(id); exists {
			{{- range .Facets -}}
			{{- if .IsDynamic }}
			facets[id] = types.FacetConfig{
				Name:          item.GetName(),
				Store:         "{{toLower .StoreName}}",
				ViewType:      "table",
				DividerBefore: false,
				Fields:        get{{firstUpper (toLower .StoreName)}}Fields(),
				Actions:       []string{},
				HeaderActions: []string{},
				CanClose:      true,
				{{- if .NavigateTo }}
				RowAction: {{.NavigateTo}},
				{{- end}}
			}
			{{- end -}}
			{{- end}}
			*facetOrder = append(*facetOrder, id)
		}
	}
}
{{- end}}

{{- range .Stores }}

func get{{firstUpper (toLower .Name)}}Fields() []types.FieldConfig {
	ret := []types.FieldConfig{
		{{- range .Members }}
			{{- if not (or (contains .Fmt "[]") (contains .Fmt "*")) }}
				{{- $type := .GetFormatter }}
				{Section: "{{ cond (eq .Section "") "General" .Section }}", Key: "{{.Name}}"{{if $type}}, Type: "{{$type}}"{{end}}{{if .Label}}, Label: "{{.Label}}"{{end}}{{if .IsNoTable}}, NoTable: true{{end}}{{if .IsSortable}}, Sortable: true{{end}}},
			{{- end }}
		{{- end }}
		{{- if .HasActions $.Facets}}
		{Section: "", Key: "actions", Type: "actions", NoDetail: true},
		{{- end }}
	}
	types.NormalizeFields(&ret)
	return ret
}
{{- end }}

// EXISTING_CODE
// EXISTING_CODE
