/*
output: frontend/src/Menu.ts
scope: codebase
*/

// Copyright 2016, 2026 The Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */
import { SetInitialized } from '@app';
import { Khedra, Settings } from '@views';
import {
  {{ .Views }}
} from '@views';
import { Wizard } from '@wizards';

export interface MenuItem {
  label: string;
  path: string;
  position: 'top' | 'bottom' | 'hidden';
  component?: React.ComponentType;
  type?: 'navigation' | 'dev' | 'toggle';
  action?: () => void | Promise<void>;
  menuOrder?: number;
  separator?: boolean;
}

export const MenuItems: MenuItem[] = [
{{- range .Structures }}
{{- if and (ne .Class "") (not .DisableGo) }}
  {
    label: '{{ .Class }}',
    path: '/{{ toLower .Class }}',
    position: 'top',
    component: {{ .Class }},
    type: 'navigation',
  },
{{- end }}
{{- end }}
  {
    label: 'Khedra',
    path: '/khedra',
    position: 'bottom',
    component: Khedra,
    type: 'navigation',
  },
  {
    label: 'Settings',
    path: '/settings',
    position: 'bottom',
    component: Settings,
    type: 'navigation',
  },
  {
    path: '/wizard',
    label: 'Wizard',
    position: 'hidden',
    component: Wizard,
    type: 'dev',
    action: async () => {
      await SetInitialized(false);
    },
  },
];
