// Copyright 2016, 2026 The Authors. All rights reserved.
// Use of this source code is governed by a license that can
// be found in the LICENSE file.
/*
 * Parts of this file were auto generated. Edit only those parts of
 * the code inside of 'EXISTING_CODE' tags.
 */
// EXISTING_CODE
// EXISTING_CODE

// Add new icons to the above list for each of these views
{{- range .Structures }}
{{- if and (ne .Class "") (not .DisableGo) }}
// {{ .Class }}
{{- end }}
{{- end }}

/*
List of other icons sets
Ai: Ant Design Icons
Bs: Bootstrap Icons
Cg: css.gg
Ci: CoreUI Icons
Di: Devicon
Fi: Feather Icons
Fc: Flat Color Icons
Gi: Game Icons
Go: GitHub Octicons
Gr: Grommet Icons
Hi, Hi2: Heroicons
Im: IcoMoon Free
Io, Io5: Ionicons (4 and 5)
Lu: Lucide Icons
Md: Material Design Icons
Pi: Phosphor Icons
Ri: Remix Icons
Rx: Radix Icons
Si: Simple Icons
Sl: Simple Line Icons
Tb: Tabler Icons
Tfi: Themify Icons
Ti: Typicons
Vsc: VS Code Icons
Wi: Weather Icons
Fa6: Font Awesome 6
*/

export {
  BiBot,
  BiBuildings,
  BiChevronsDown,
  BiChevronsLeft,
  BiChevronsRight,
  BiChevronsUp,
  BiCog,
  BiCopy,
  BiDesktop,
  BiDownload,
  BiEnvelope,
  BiFile,
  BiGlobe,
  BiHide,
  BiHistory,
  BiHome,
  BiListUl,
  BiLogoGithub,
  BiLogoTwitter,
  BiMoon,
  BiPencil,
  BiPlus,
  BiQuestionMark,
  BiShow,
  BiSun,
  BiTransfer,
  BiTrash,
  BiUndo,
  BiUser,
  BiVolumeFull,
  BiX,
} from 'react-icons/bi';

export {
  FaAngleDoubleDown,
  FaAngleDoubleLeft,
  FaAngleDoubleRight,
  FaAngleDoubleUp,
  FaCircleNotch,
  FaCog,
  FaCopy,
  FaDesktop,
  FaDownload,
  FaEdit,
  FaEnvelope,
  FaEraser,
  FaEye,
  FaEyeSlash,
  FaFile,
  FaFileContract,
  FaGithub,
  FaGlobe,
  FaHatWizard,
  FaHistory,
  FaHome,
  FaIndustry,
  FaListAlt,
  FaBullhorn,
  FaMagic,
  FaMoon,
  FaPlus,
  FaQuestionCircle,
  FaRandom,
  FaSun,
  FaTimes,
  FaTwitter,
  FaUndo,
  FaUser,
} from 'react-icons/fa';

// EXISTING_CODE
// EXISTING_CODE

// Add to the above exports
{{- range .Structures }}
{{- if and (ne .Class "") (not .DisableGo) }}
// {{ .Class }}
{{- end }}
{{- end }}